.input-currencies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.input-currency {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-currency__select {
    padding: 1rem;
    border: 2px solid var(--darker-primary-color);
    border-radius: var(--border-radius);
    font-size: 1.8rem;
    font-weight: 700;
}

.replace-button {
    width: 35px;
    aspect-ratio: 1/1;
    margin: 1.4rem;
    /* background-color: white; */
    background-image: url('../../public/arrows-rotate-solid.svg');
    background-size: cover;
    background-position: center;
    filter: invert(1);
    cursor: pointer;
}

@media (min-width: 576px) {
    .input-currencies {
        flex-direction: row;
        justify-content: space-between;
    }

    .replace-button {
        margin: 0;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }

}

/* .replace-button:hover {
    animation: rotate .8s;
}

@keyframes rotate {
    from {
        rotate: 0;
    }

    to {
        rotate: 180deg;
    }
} */